@font-face {
  font-family: 'Bungee';
  src: url('../assets/font/BungeeOutline-Regular.ttf');
}

a {
  text-decoration: none !important;
  
}

a:hover {
  text-decoration: underline !important;
  
}


body {
  background-image: url('../assets/image/background.jpg');
}


.card-body {
  height: 175px;
  overflow: hidden;
  background-image: url('../assets/image/background2.jpg')
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

#game-details {
  position: relative;
  text-align: center;
}

#game-title {
  position: absolute;
  top: 120px; /* adjust as needed */
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 450% ;
  font-family: 'Bungee';
}